@use "/src/styles/variables";

.control {
    align-items: center;
    display: flex;
    max-width: 380px;
    position: relative;
    width: 100%;

    input {
        border-radius: .325rem;
        border: none;
        background-color: var(--background-header);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        color: var(--color-text-input);
        display: block;
        font-weight: variables.$font-w-1;
        font-size: variables.$font-items;
        height: 50px;
        outline: none;
        padding-left: 64px;
        width: 100%;

        &::placeholder {
            color: var(--color-text-input);
        }
    }

    .icon {
        color: var(--color-text-input);
        font-size: variables.$font-detail;
        left: 24px;
        position: absolute;
    }
}