$font-title: 28px;
$font-card-title: 20px;
$font-detail: 16px;
$font-items: 14px;
$font-w-1: 300;
$font-w-2: 600;
$font-w-3: 800;
$transitionAll: all .3s ease-in-out;
$shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;