@use "/src/styles/variables";

// Animações
@keyframes loading {
    from {
        top: 0px;
    }

    to {
        top: 8px;
    }
}


//  Media queries mobiles
@media screen and (min-width: 375px) {

    .container {
        height: 100%;
        margin: 0 auto;
        min-height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        width: 100%;


        .section {
            margin: 0 auto;
            padding-bottom: 4rem;
            width: 80%;
        }

        .group {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: space-between;
            margin: 1.6rem 0 3rem;
            width: 100%;
        }

        .wrapper {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(min(100%, max(260px, 100%/5)), 1fr));
            width: 100%;
        }
    }
}


// Media queries tablets and desktops
@media screen and (min-width: 768px) {

    .container {

        .section {
            width: 85%;
            max-width: 1400px;
        }

        .group {
            flex-direction: row;
        }

        .wrapper {
            justify-content: space-between;
        }
    }
}