@use "/src/styles/variables";

@media screen and (min-width: 375px) {
    .header {
        align-items: center;
        background-color: var(--background-header);
        box-shadow: variables.$shadow;
        display: flex;
        height: 70px;
        position: fixed;
        top: 0;
        transition: variables.$transitionAll;
        width: 100%;
        z-index: 10000;

        .container {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 90%;
            line-height: normal;
            width: 100%;

            .title {
                color: var(--color-text);
                font-size: variables.$font-detail;
            }

            .btn__theme {
                align-items: center;
                display: flex;
                border: none;
                background-color: transparent;
                cursor: pointer;
                font-size: variables.$font-items;
                height: 50px;
                padding: .625rem;
                transition: all .2s ease-in-out;

                &:hover {
                    border-radius: .325rem;
                    background-color: var(--background-hover)
                }
            }

            &__group {
                align-items: center;
                color: var(--color-text);
                display: flex;
                font-weight: variables.$font-w-2;
                gap: .625rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        .container {
            .title {
                font-size: variables.$font-title;
            }

            .btn__theme {
                font-size: variables.$font-detail;

            }

        }
    }
}