@use "/src/styles/variables";

@keyframes loading {
    from {
        top: 0px;
    }

    to {
        top: 8px;
    }
}

@media screen and (min-width: 375px) {
    .container {
        background-color: var(--background);
        height: 100%;
        min-height: calc(100vh - 70px);
        position: relative;
        transition: variables.$transitionAll;
        top: 70px;
        width: 100%;

        .wrapper {
            margin: 0 auto;
            padding: 3rem 0;
            width: 80%;

            .btn__back {
                background-color: var(--background-header);
                border-radius: .3rem;
                box-shadow: variables.$shadow;
                cursor: pointer;
                color: var(--color-text);
                display: flex;
                gap: .6rem;
                line-height: 1;
                margin-bottom: 4rem;
                padding: .8rem 1rem;
                transition: all .5s ease-in-out;
                width: 120px;

                &:hover {
                    background-color: var(--background-hover);
                }
            }

            .message {
                align-items: center;
                color: var(--color-text);
                display: flex;
                font-size: variables.$font-title;
                justify-content: center;
                position: relative;

                >span {
                    color: inherit;
                    font-size: inherit;
                    font-weight: bold;
                    letter-spacing: 5px;
                    position: relative;
                }

                >span:nth-child(1) {
                    animation: loading .3s linear alternate;
                }

                >span:nth-child(2) {
                    animation: loading 0.5s linear .6s alternate;
                }

                >span:nth-child(3) {
                    animation: loading 0.5s infinite .8s alternate;
                }
            }
        }
    }
}