@media screen and (min-width:375px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        color: black;

        &__image {
            min-width: 100%;
            height: 100%;
            width: 100%;

            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        &__description {
            display: grid;
            column-gap: 4rem;
            grid-template-areas:
                "title"
                "first"
                "second"
                "tags"
            ;


            ul {
                list-style: none;
                padding: 0;

                li {
                    line-height: 1.6;
                    white-space: nowrap;
                    font-weight: 600;
                    font-size: 14px;

                    span {
                        font-weight: 300;
                    }
                }
            }

            // Ordenação das colunas das informações sobre o país
            .title {
                font-size: 28px;
                grid-area: title;
            }

            .list__first {
                grid-area: first;
            }

            .list__second {
                grid-area: second;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                margin-top: 1rem;
                align-items: center;
                grid-area: tags;
                gap: .625rem;

                h3 {
                    margin: 0;
                    font-size: 18px;
                    font-weight: 600;
                }

                .tag {
                    background-color: whitesmoke;
                    padding: .3rem 1rem;
                    color: hsl(0, 0%, 52%);
                    border-radius: .3rem;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    .container {
        gap: 2rem;

        &__image {
            height: 420px;
        }

        &__description {
            grid-template-areas:
                "title title"
                "first second"
                "tags tags"
            ;
        }
    }
}


@media screen and (min-width:1000px) {
    .container {
        display: inline-flex;
        flex-direction: row;
        gap: 4rem;
        margin: 0 auto;
        height: 380px;

        &__image {
            max-width: 600px;
            min-width: 400px;
            height: 100%;
        }

        &__description {
            width: 100%;
            max-width: 500px;
        }
    }
}