@use "/src/styles/variables";

@media screen and (min-width:375px) {
    .container {
        align-items: center;
        color: var(--color-text);
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1rem;
        margin: 0 auto;
        width: 100%;

        &__image {
            height: 100%;
            min-width: 100%;
            width: 100%;

            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        &__description {
            column-gap: 4rem;
            display: grid;
            grid-template-areas:
                "title"
                "first"
                "second"
                "tags"
            ;


            ul {
                list-style: none;
                padding: 0;

                li {
                    font-weight: variables.$font-w-2;
                    font-size: variables.$font-items;
                    line-height: 1.6;
                    white-space: nowrap;

                    span {
                        font-weight: 300;
                    }
                }
            }

            // Ordenação das colunas das informações sobre o país
            .title {
                font-size: variables.$font-title;
                grid-area: title;
            }

            .list__first {
                grid-area: first;
            }

            .list__second {
                grid-area: second;
            }

            .tags {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                grid-area: tags;
                gap: .625rem;
                margin-top: 1rem;

                h3 {
                    font-size: 18px;
                    font-weight: variables.$font-w-2;
                    margin: 0;
                }

                .tag {
                    background-color: var(--background-header);
                    border-radius: .3rem;
                    box-shadow: variables.$shadow;
                    color: var(--color-text);
                    padding: .3rem 1rem;

                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    .container {
        gap: 2rem;

        &__image {
            height: 420px;
        }

        &__description {
            grid-template-areas:
                "title title"
                "first second"
                "tags tags"
            ;
        }
    }
}


@media screen and (min-width:1000px) {
    .container {
        display: inline-flex;
        flex-direction: row;
        height: 380px;
        gap: 4rem;
        margin: 0 auto;

        &__image {
            height: 100%;
            max-width: 600px;
            min-width: 400px;
        }

        &__description {
            max-width: 500px;
            width: 100%;
        }
    }
}