.control {
    position: relative;
    width: 240px;
    height: 50px;
    z-index: 1000;

    .select {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: white;
        color: hsl(200, 15%, 8%);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: .325rem;

        .select__active {
            display: flex;
            width: 100%;
            padding: 0 1.6rem;
            align-items: center;
            justify-content: space-between;
        }


        .options {
            display: none;
            position: absolute;
            top: 55px;
            width: 100%;
            color: hsl(200, 15%, 8%);
            background-color: white;
            border-radius: .325rem;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

            &--active {
                display: block;
            }
        }

        .option {
            display: block;
            padding-left: 1.6rem;
            line-height: 2;

            &:hover {
                background-color: whitesmoke;
            }
        }


    }



}