.control {
    height: 50px;
    position: relative;
    width: 240px;
    z-index: 1000;

    .select {
        background-color: var(--background-header);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: .325rem;
        border: none;
        color: var(--color-text);
        height: 50px;
        position: relative;
        padding: 0;
        text-align: left;
        width: 100%;

        .group {
            align-items: center;
            display: flex;
            height: inherit;
            justify-content: space-between;
            padding: 0 1.6rem;
            width: 100%;
        }

        .options {
            border-radius: .325rem;
            background-color: var(--background-header);
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            color: var(--color-text);
            display: none;
            overflow: hidden;
            position: absolute;
            top: 55px;
            width: 100%;

            &--active {
                display: block;
            }
        }

        .option {
            display: block;
            line-height: 2;
            padding-left: 1.6rem;

            &:hover {
                background-color: var(--background-hover);
            }
        }


    }



}