@use "/src/styles/variables";

.card {
    border-radius: .375rem;
    box-shadow: variables.$shadow;
    background-color: var(--background-header);
    color: var(--color-text);
    height: 360px;
    max-width: 100%;
    overflow: hidden;
    transition: variables.$transitionAll;
    width: 320px;

    &__image {

        img {
            display: block;
            height: 170px;
            width: 100%;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;


        .title {
            font-size: variables.$font-card-title;
            font-weight: variables.$font-w-3;
            margin: 1.6rem 0 1rem;
        }

        .subtitle {
            line-height: 0;
            font-size: variables.$font-items;
            font-weight: variables.$font-w-2;
        }

        .info {
            font-size: variables.$font-items;
            font-weight: variables.$font-w-1;
        }
    }
}

.link__expand {
    transform: scale(1);
    transition: all .4s ease-in;
}

.link__expand:hover {
    transform: scale(1.02);
    transition: all .5s ease-out;
}