.card {
    height: 360px;
    border-radius: .375rem;
    overflow: hidden;
    width: 320px;
    max-width: 100%;
    background-color: white;
    color: hsl(200, 15%, 8%);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 6px, rgba(0, 0, 0, 0.10) 0px 3px 6px;

    &__image {

        img {
            display: block;
            width: 100%;
            height: 170px;
        }
    }

    &__description {
        display: flex;
        padding: 0 1rem;
        flex-direction: column;


        .title {
            font-size: 20px;
            font-weight: 800;
            margin: 1.6rem 0 1rem;
        }

        .subtitle {
            line-height: 0;
            font-size: 14px;
            font-weight: 600;
        }

        .info {
            font-weight: 300;
            font-size: 14px;
        }
    }
}

.link__expand {
    transition: all .3s ease-in;
    transform: scale(1);
}

.link__expand:hover {
    transition: all .5s ease-out;
    transform: scale(1.03);
}